<div class="jumbotron">
  <h1 class="display-4">Aplicacion CRUD</h1>
  <p class="lead">Aplicacion diseñada en el Diplomado Full Stack </p>
  <hr class="my-4">
  <p>Esta aplicación tiene como componentes NodeJS, MongoDb, Express</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>  